<!DOCTYPE html>
<html>
<head>
    <title></title> 
    <!-- ---------------------- SEMANTIC UI ----------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <!------------------------------ CSS -------------------------------------->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <!------------------------ JQUERY LIBRARY --------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bangers|Rajdhani:500,600,700" rel="stylesheet">
</head>
<body>

