<!DOCTYPE html>
<html>
<head>
    <title></title> 
    <!-- ---------------------- SEMANTIC UI ----------------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <!------------------------------ CSS -------------------------------------->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <!------------------------ JQUERY LIBRARY --------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-------------------------- GOOGLE FONT ---------------------------------->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:500,700|Roboto+Condensed:700|Roboto:300,400i" rel="stylesheet">
    <!----------------------- FONT AWESOME ICONS ------------------------------>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

