<% include ./partials/header %>

<div class="ui container">
   <div class="ui six column doubling grid team">
      <!-- Creating chosen pokemon team's thumbnails -->
      <% for(var i=0; i<6; i++){ %>
      <div class="column">
         <div class="ui card chosen">
            <div class="image">
               <img src="https://pm1.narvii.com/6508/dbd421799e1fc9118c02766e5c13836c87db6070_hq.jpg" />
            </div>
            <div class="description"></div>
         </div>
      </div>
      <% } %>
   </div>

   <div class="ui ten column doubling centered grid thumbnails">
      <!-- Creating ALL pokemon thumbnails -->
      <% pokedex.forEach( pokemon => { %>
      <div class="center aligned column">
         <div class="ui card thumbnail">
            <div class="image"><img src="<%= pokemon.image %>" /></div>
            <div class="description">
               #<span> <%= pokemon.id %></span>
               <div class="pokemon-name"><%= pokemon.name %></div>
            </div>
         </div>
      </div>
      <% }) %>
   </div>
</div>

<script type="text/javascript">
   //Converting ejs variable to js variable
   var pokedex = <%- JSON.stringify(pokedex) %>;
   //Empty array that will contain the IDs of the pokemons picked by the user (max 6)
   var selectedPokemons = [];
   //Empty array that will contain the entries of the pokemons picked by the user
   var team;

   //Turn the array of IDs (selectedPokemons) to an array of selected Pokemons' entries (team)
   function convertToEntry() {
      team = selectedPokemons.map(selected => {
         //Finding the pokemon entry from the pokedex based on the Id in the selectedPokemon array
         //Because the Id in the selectedPokemon array is a string, it has to be parsed into Number
         return pokedex.find(pokemon => pokemon.id === parseInt(selected, 10));
      });
   }

   //Make the selected pokemons show up as thumbnails
   function addMember(){
      for (var i = 0; i < 6; i++) {
         if (selectedPokemons[i]) {
            //Add description and closing icon to each team member's thumbnail
            $(`.chosen:eq(${i}) .description`).html(`#${team[i].id} ${team[i].name} <i class="close icon"></i>`);
            //Add image for each team member
            $(`.chosen:eq(${i}) img`).attr('src', team[i].image);
            //Add eventListener to each existing closing icon that will remove said team member when clicked
            $(`.chosen:eq(${i}) .close.icon`).click(removeMember.bind(null, i));
         }
      }
   }

   //Callback attached to closing icon's event listener that will remove selected pokemon from team
   function removeMember(index) {
      //Remove this pokemon from the selectedPokemons array according to the index passed in
      //Retain the indexes of other remaining team members using null
      selectedPokemons[index] = null;
      //Update the team's pokemon entries to reflect this removal
      convertToEntry();
      //Remove this team pokemon's closing icon and its eventListener
      $(`.chosen:eq(${index}) .close.icon`).remove();
      //Remove this team pokemon's name
      $(`.chosen:eq(${index}) .description`).html('');
      //Change back this team pokemon's image to the default
      $(`.chosen:eq(${index}) img`).attr(
         'src',
         'https://pm1.narvii.com/6508/dbd421799e1fc9118c02766e5c13836c87db6070_hq.jpg'
      );
   }

   //Adding eventlisteners to each pokemon thumbnail so that we know which pokemon gets picked by user
   $('.thumbnail').click(function() {

      if (selectedPokemons.length < 6) {
         //Overwriting the context of "this"
         //Id of the chosen pokemon will be added to the selectedPokemon array if it is not full
         selectedPokemons.push($('span', this).text());
         //testing
      }
      //Slot in the newly selected pokemon's id into the existing array if there is an empty spot
      var emptySlot = selectedPokemons.indexOf(null);
      if (emptySlot > -1) {
         selectedPokemons[emptySlot] = $('span', this).text();
      }

      //Turn the array of IDs to an array of selected Pokemons' entries
      convertToEntry();

      //Make the selected pokemons show up as thumbnails
      addMember();
   });
</script>

<% include ./partials/footer %>
